
.app_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
    height: 100vh;
}

.app_wrap .app_item {
    flex-basis: 20%;
    padding: 20px;
}

/* :global - 전역선택자, 바로 적용 가능  */
:global .input_control {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: palegreen;
    border-color: palegreen;
}